body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #141e30, #243b55);
    margin: 0;
    font-family: Arial;
    text-align: center;
}
.calculator {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    background-color: #e0e0e0;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #d0d0d0;
}

.btn:active {
    background-color: #c0c0c0;
}
footer {
    
    margin-top:auto;
    font-size: 0.9em;
    color: #555;
    text-align: center;


}
